.container{
    width: 100%;
}
.navbar{
    background-color: black;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn{
    padding: 5px;
    display: block;
}
.btn-primary{
    background-color: black;
    color: white;
}

.group{
    margin: 20px;
}